build/
components/*
managed_components/
tools/esp_prov/*
sdkconfig
sdkconfig.old
dependencies.lock
!tools/esp_prov/esp_prov.py
!components/Adafruit_BusIO/CMakeLists.txt
!components/Adafruit-GFX-Library/CMakeLists.txt
!components/arduino/CMakeLists.txt
!components/GxEPD2/CMakeLists.txt