build/

managed_components/
tools/esp_prov/*
!tools/esp_prov/esp_prov.py
sdkconfig
sdkconfig.old
dependencies.lock
components/*
!components/Adafruit_BusIO/
components/Adafruit_BusIO/*
!components/Adafruit_BusIO/CMakeLists.txt
!components/Adafruit-GFX-Library/
components/Adafruit-GFX-Library/*
!components/Adafruit-GFX-Library/CMakeLists.txt
!components/arduino/
components/arduino/*
!components/arduino/CMakeLists.txt
!components/GxEPD2/
components/GxEPD2/*
!components/GxEPD2/CMakeLists.txt